{% extends 'base.html' %}
{% block content %}
    <h2>List of tasks</h2>
    <ul class="nav flex-column">
        <li><a href="{{ url_for('index', status = 'all') }}">all</a></li>
        <li><a href="{{ url_for('index', status = 'todo') }}">todo</a></li>
        <li><a href="{{ url_for('index', status = 'doing') }}">doing</a></li>
        <li><a href="{{ url_for('index', status = 'done') }}">done</a></li>
    </ul>
    {% for task in tasks %}
        <div>{{ task['title'] }}{{ task['description'] }}{{ task['status'] }}{{ task['initialised'] }}
             <a href="{{ url_for('update_task', id=task['id']) }}">Update</a>
             <a href="{{ url_for('delete_task', id=task['id']) }}">Delete</a>
        </div>
    {% endfor %}
{% endblock %}
