{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Update a task{% endblock %}</h1>
    <form action= {{ url_for('update_task', id = task.id) }}  method="post">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{ task.title }}" id="title" required>
    <label for="description">Description</label>
    <input type="textarea" name="description"  value="{{ task.description }}" id="description" required>
    <label for="status">Status</label>
    <select class="" name="status">
        <option value="todo" {% if task.status=="todo"  %}selected{% endif %}>Todo</option>
        <option value="doing" {% if task.status=="doing"  %}selected{% endif %}>Doing</option>
        <option value="done" {% if task.status=="done"  %}selected{% endif %}>Done</option>
    </select>
    <label for="initialised">Initialised</label>
    <input type="text" name="initialised" value="{{ task.initialised }}" id="initialised" required>
    <input type="submit" value="Update">
    </form>
{% endblock %}
